
body{
    margin: 0px ;
}
#landing{
    background-image: url(./assets/backgrounds/landing.jpg);
    width: 100%;
    height:350px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    
}
#menu{
    text-align: center;
    
}
#header{
    text-align: center;
    color: white;
    font-size: 20px;

}
.foodRange{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height:200px;
    text-align:center;
    box-sizing: border-box;
    margin: 0px;
}
.pTime{
background-color: #ff5c33;
height:50px;
align-items: center;
width: 100%;
}